In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv("Movie_regression.csv" , header=0)
df.head()


# Missing values information
df.info()
# Time_taken 494 non-null float64
#missing value imputation values with mean values

df["Time_taken"].fillna(value=df["Time_taken"].mean() , inplace = True)

#Rechecking the whether missing values or imputed or not
df.info()

#Dummy value creation for "3d_avaiable" , "Genre" columns

df= pd.get_dummies(df , columns =["3D_available" , "Genre"], drop_first=True)

#Checking the dummi variable

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
Marketing expense      506 non-null float64
Production expense     506 non-null float64
Multiplex coverage     506 non-null float64
Budget                 506 non-null float64
Movie_length           506 non-null float64
Lead_ Actor_Rating     506 non-null float64
Lead_Actress_rating    506 non-null float64
Director_rating        506 non-null float64
Producer_rating        506 non-null float64
Critic_rating          506 non-null float64
Trailer_views          506 non-null int64
3D_available           506 non-null object
Time_taken             494 non-null float64
Twitter_hastags        506 non-null float64
Genre                  506 non-null object
Avg_age_actors         506 non-null int64
Num_multiplex          506 non-null int64
Collection             506 non-null int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
Marketing expense      506 non-null float64
Production expense     506 non-null float64
Multiplex coverage     506 non-null float64
Budget                 506 non-null float64
Movie_length           506 non-null float64
Lead_ Actor_Rating     506 non-null float64
Lead_Actress_rating    506 non-null float64
Director_rating        506 non-null float64
Producer_rating        506 non-null float64
Critic_rating          506 non-null float64
Trailer_views          506 non-null int64
3D_available           506 non-null object
Time_taken             506 non-null float64
Twitter_hastags        506 non-null float64
Genre                  506 non-null object
Avg_age_actors         506 non-null int64
Num_multiplex          506 non-null int64
Collection             506 non-null int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.2+ KB

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

### X-y Split

In [3]:
from sklearn.model_selection import train_test_split
#Independent variables
X = df.loc[:, df.columns!= "Collection"]
type(X)
X.head()
X.shape
#Dependent variable 
y = df["Collection"]
type(y)
y.head()
y.shape

# Train_test_split
X_train , X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2 , random_state=0)

X_train.shape #(404,19)
X_test.shape #(102,19)
y_train.shape #(404)
y_test.shape  #(102)

(102,)

### Standardizing Data

standardizing the data means converting every variable mean to 0 and 
varaiance of variables to 1
svm only gives correct results when we standardize the data

In [4]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler().fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [5]:
X_test_std

array([[-0.40835869, -1.12872913,  0.83336883, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [ 0.71925111,  0.9988844 , -0.65283979, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [-0.40257488,  0.39610829,  0.05115377, ...,  1.50268577,
        -0.48525664, -0.75225758],
       ...,
       [-0.3982601 , -0.85812418,  0.89420778, ..., -0.66547513,
        -0.48525664,  1.3293319 ],
       [-0.39934279, -0.07637654,  0.58132175, ...,  1.50268577,
        -0.48525664, -0.75225758],
       [-0.40088071, -0.36702631,  0.31189212, ..., -0.66547513,
        -0.48525664, -0.75225758]])

## SVM Model Regressio

In [6]:
from sklearn.svm import SVR

In [7]:
sv = SVR(kernel = 'linear',C= 1000)

In [8]:
sv.fit(X_train_std,y_train)

SVR(C=1000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [9]:
y_train_pred = sv.predict(X_train_std)
y_test_pred = sv.predict(X_test_std)

In [10]:
y_test_pred

array([54170.53503625, 42284.13073448, 47467.48411681, 18129.17355969,
       48399.2694108 , 39866.86998058, 34007.32532044, 43289.77824001,
       30366.10675075, 47064.86893308, 12791.33749785, 38408.82653373,
       37559.85784034,  8779.61135966, 66820.90169749, 61934.22332501,
       38795.59236698, 65521.75338819, 57150.63894057, 43345.30648076,
       53845.74438999, 39163.9161095 , 41674.15698489, 58329.2948265 ,
       42884.07327353, 13145.18400654, 40922.72188255, 29718.76094568,
       74630.97971381, 44573.11287424, 36854.7122831 , 37424.55686816,
       37582.94829537, 40845.85075693, 52096.6358182 , 35540.25290306,
       25313.83859774, 36522.56259704, 36623.75409555, 35831.61173002,
       47370.51557929, 45957.66677543, 44656.54171505, 27680.22280557,
       50609.67508545, 46713.98056409, 33197.61112633, 40047.74770768,
       15830.8986982 , 51791.84658664, 41241.55116877, 39132.63366916,
       47511.3684718 , 67543.6845176 , 25372.80865713, 41659.98849411,
       41183.13416828, 34329.69827939, 21291.90329438, 39332.20090511,
       41482.76666808, 41305.705476  , 65283.01275883, 64854.422162  ,
       28470.27249381, 63678.89600398, 37109.92800204, 39308.41079599,
       42108.77491375, 47272.96039093, 46402.38045685, 48948.09910041,
       56494.74395679, 59884.05633069, 49074.24411709, 10885.11690224,
       73708.55119772, 44774.58652223, 59273.21131032, 38000.03908567,
       50616.25130199, 43141.53644229, 32228.32910879, 81337.35382161,
       79338.4819698 , 47926.47727737, 50711.45023189, 30108.91100051,
       49496.94125933, 38011.42325353, 34085.66885372, 34287.73114638,
       43273.16443822, 59282.17937564, 43881.88478087, 42304.07003505,
       -4537.98340671, 52502.3163472 , 36710.19229576, 32246.91091579,
       49741.80875784, 48435.89960542])

## Model perfomence

In [19]:
from sklearn.metrics import mean_squared_error ,r2_score

In [12]:
mean_squared_error(y_test,y_test_pred)

160153135.39404476

In [13]:
r2_score(y_train,y_train_pred)

0.7124450931551877

In [14]:
r2_score(y_test,y_test_pred)

0.5025135728682697

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets